version: '3.9'

services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    ports:
      - "1883:1883"

  backend:
    build:
      context: ./backend
    container_name: backend
    environment:
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC_REQ=payments/requests
      - MQTT_TOPIC_RESP=payments/responses
    depends_on:
      - mosquitto
    ports:
      - "8000:8000"
