version: '3.9'

services:
  mosquitto:
    image: eclipse-mosquitto:2.0
    container_name: mosquitto
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto/mosquitto.conf:/mosquitto/config/mosquitto.conf

  backend:
    build:
      context: ./backend
    container_name: backend
    environment:
      - MQTT_BROKER=mosquitto
      - MQTT_PORT=1883
      - MQTT_TOPIC_REQ=payments/requests
      - MQTT_TOPIC_RESP=payments/responses
      - FRONT_URL=http://localhost:3000
    depends_on:
      - mosquitto
    ports:
      - "8000:8000"

  frontend:
    build:
      context: ./frontend
      args:
        - VITE_API_URL=http://localhost:8000
    container_name: front
    ports:
      - "3000:80"
    depends_on:
      - backend